/* Variables and mixins declared here will be available in all other SCSS files */
$sans: Inter;
$serif: Inter;

// PALETTE
$primary-text: #242424;
$secondary-text: #6f6885;
$button-text: #ffffff;
$button-text-active: #ffffff;

$primary-color: #242424;
$secondary-color: #2a55ff;
$background-color: #ffffff;

$border-color: #242424;
$card-color: #eaeaea;
