/* Variables and mixins declared here will be available in all other SCSS files */
$sans: Inter;
$serif: Neuton;

// PALETTE
$primary-text: #4d485e;
$secondary-text: #6f6885;
$primary-color: #b6d7aa;
$secondary-color: #c2cfbb;
$background-color: #f0e0ba;

$border-color: #000000;
$card-color: #ddc79a;
